img, body {
    margin: 0px;
    padding: 0px;
}
img {
    width: 1888px;
    height: 1062px;
    /* half scale */
    /* width: 944px; */
    /* height: 531px; */
    object-fit: cover;
}
area {
    border.none;
}
img.map, map area{
    outline: none;
}
area:focus {
    border: none;
    outline-style: none; 
    -moz-outline-style: none;  
}